@import url("https://use.typekit.net/rey3dtk.css");
/* line 6, sass/site.css.scss */
html {
  width: 100%;
  height: 100%; }

/* line 11, sass/site.css.scss */
body {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  outline: 0;
  margin: 0px;
  font-family: "canada-type-gibson",sans-serif; }

/* line 22, sass/site.css.scss */
a {
  color: #FAF9F9;
  text-decoration: none; }
  /* line 25, sass/site.css.scss */
  a:focus, a:hover {
    color: #FAF9F9; }

/* line 31, sass/site.css.scss */
i {
  color: #FAF9F9; }

/* line 36, sass/site.css.scss */
h2 {
  font-family: "ratio",sans-serif;
  color: #FAF9F9;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px; }

/* line 43, sass/site.css.scss */
h3 {
  color: #FAF9F9;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px; }
  /* line 48, sass/site.css.scss */
  h3.sub-title {
    margin-top: 10px; }

/* line 52, sass/site.css.scss */
h3.sub-title {
  font-size: 28px;
  text-align: left;
  line-height: 28px;
  margin: 20px 0px; }

/* line 58, sass/site.css.scss */
h4 {
  color: #FAF9F9;
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 300; }

/* line 64, sass/site.css.scss */
p, li {
  font-size: 18px;
  color: #FAF9F9;
  text-align: left;
  line-height: 25px; }

/* line 70, sass/site.css.scss */
ul {
  padding: 0px;
  margin: 0px; }

/* line 78, sass/site.css.scss */
section {
  height: 100vh;
  max-width: 100%;
  padding: 20% 0%;
  margin-left: 0px !important;
  margin-right: 0px !important; }
  /* line 84, sass/site.css.scss */
  section.about-section {
    background-color: #EE7192; }
  /* line 87, sass/site.css.scss */
  section.skills-section {
    background-color: #B7C2E6; }
  /* line 90, sass/site.css.scss */
  section.contact-section {
    background-color: #5A2EB0; }

/* line 95, sass/site.css.scss */
.tags-row {
  margin-top: 10px; }
  @media screen and (max-width: 480px) {
    /* line 97, sass/site.css.scss */
    .tags-row .tag-container {
      margin: 0px 20px 5px 0px; } }
  @media screen and (min-width: 480px) {
    /* line 97, sass/site.css.scss */
    .tags-row .tag-container {
      margin-top: 5px; } }
  /* line 117, sass/site.css.scss */
  .tags-row .tag {
    border-radius: 15px;
    width: 110px;
    background: #EE7192;
    display: flex; }
    /* line 122, sass/site.css.scss */
    .tags-row .tag .tag-text {
      padding: 0px 5px;
      color: #f9ccd8; }
  /* line 127, sass/site.css.scss */
  .tags-row .tag:hover {
    background: #de1b4e;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    /* line 133, sass/site.css.scss */
    .tags-row .tag:hover .tag-text {
      color: white;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }

/* line 143, sass/site.css.scss */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/* line 149, sass/site.css.scss */
.clear {
  margin: 0px;
  padding: 0px; }

/* line 154, sass/site.css.scss */
.middle-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center; }

/* line 162, sass/site.css.scss */
.content-section-title {
  margin: 0px; }

/* line 170, sass/site.css.scss */
.chevron {
  position: absolute;
  z-index: 600;
  max-height: 32px;
  bottom: 60px;
  left: 0;
  right: 0; }

/* line 179, sass/site.css.scss */
.fa-chevron-down {
  font-size: 2em; }

/* line 182, sass/site.css.scss */
.fa-chevron-down:hover {
  cursor: pointer; }

/* line 186, sass/site.css.scss */
.linkedin {
  margin-right: 15px; }
  /* line 188, sass/site.css.scss */
  .linkedin i {
    font-size: 35px; }

/* line 193, sass/site.css.scss */
.fa-circle {
  font-size: 10px;
  margin: 0px 10px; }

/* line 198, sass/site.css.scss */
.github {
  margin-left: 15px; }
  /* line 200, sass/site.css.scss */
  .github i {
    font-size: 35px; }

/* line 209, sass/site.css.scss */
.about-section {
  background-color: #EE7192; }

/* line 213, sass/site.css.scss */
.skills-section {
  background-color: #B7C2E6; }

/* line 217, sass/site.css.scss */
.contact-section {
  background-color: #5A2EB0; }

/* line 222, sass/site.css.scss */
.desktop-view {
  display: none; }

/* line 226, sass/site.css.scss */
.btn {
  border-radius: 40px;
  border: 2px solid #faf9f9;
  transition: all 0.5s;
  max-width: 200px;
  margin: 0px auto; }
  /* line 231, sass/site.css.scss */
  .btn h4 {
    line-height: 35px; }

/* line 236, sass/site.css.scss */
.button-container {
  margin-top: 15%; }
  /* line 239, sass/site.css.scss */
  .button-container .button-regular:hover {
    background: #FAF9F9;
    border-color: #FAF9F9; }
    /* line 240, sass/site.css.scss */
    .button-container .button-regular:hover h4 {
      color: #EE7192; }
  /* line 247, sass/site.css.scss */
  .button-container .button-blue {
    border-color: #3126B1; }
    /* line 249, sass/site.css.scss */
    .button-container .button-blue h4 {
      color: #3126B1; }
    /* line 252, sass/site.css.scss */
    .button-container .button-blue:hover {
      background: #3126B1;
      border-color: #3126B1; }
      /* line 253, sass/site.css.scss */
      .button-container .button-blue:hover h4 {
        color: #FAF9F9; }

/* line 262, sass/site.css.scss */
nav.navigation {
  position: fixed;
  z-index: 600;
  background-color: transparent;
  margin: 0 auto;
  width: 100%; }
  /* line 268, sass/site.css.scss */
  nav.navigation .nav-links-container {
    z-index: 400;
    height: 100%;
    background-color: #EED4DE;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -110%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    /* line 280, sass/site.css.scss */
    nav.navigation .nav-links-container.active {
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
      top: 0px; }
    /* line 284, sass/site.css.scss */
    nav.navigation .nav-links-container .nav-item {
      padding: 12px 0px;
      list-style: none; }
      /* line 287, sass/site.css.scss */
      nav.navigation .nav-links-container .nav-item a {
        color: #FAF9F9;
        font-size: 1.5em;
        text-decoration: none; }
      /* line 292, sass/site.css.scss */
      nav.navigation .nav-links-container .nav-item:hover a {
        color: #F37D67; }
      /* line 295, sass/site.css.scss */
      nav.navigation .nav-links-container .nav-item.active a {
        color: #F37D67; }
  /* line 302, sass/site.css.scss */
  nav.navigation .nav-title-container {
    max-width: 100%;
    margin: 0px;
    padding: 0px 20px; }
  /* line 307, sass/site.css.scss */
  nav.navigation .navigation-links {
    max-width: 100%;
    height: 65%;
    padding: 0% 0px 0% 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column; }
  /* line 319, sass/site.css.scss */
  nav.navigation .nav-title {
    z-index: 600;
    display: block; }
    /* line 322, sass/site.css.scss */
    nav.navigation .nav-title h2 {
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
      margin-top: 20px; }

/* line 328, sass/site.css.scss */
.contact-links {
  background-color: #F37D67;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  justify-content: center;
  align-content: center; }
  /* line 336, sass/site.css.scss */
  .contact-links ul {
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }
  /* line 343, sass/site.css.scss */
  .contact-links a:hover {
    color: #F37D67; }

/* line 347, sass/site.css.scss */
.hamburger-container {
  z-index: 600;
  background: #FAF9F9;
  width: 42px;
  height: 42px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible !important;
  margin: 20px 0px;
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35); }
  /* line 360, sass/site.css.scss */
  .hamburger-container .hamburger {
    color: #EE7192;
    z-index: 600;
    font-size: 1.25em;
    margin-top: 11px;
    display: none; }
    /* line 366, sass/site.css.scss */
    .hamburger-container .hamburger.active {
      display: block; }

/* line 371, sass/site.css.scss */
.hamburger-container:hover {
  cursor: pointer; }

/* line 376, sass/site.css.scss */
.paleColor {
  background-color: #EED4DE !important; }

/* line 379, sass/site.css.scss */
.lightBlueColor {
  background-color: #B7C2E6 !important; }

/* line 383, sass/site.css.scss */
.projects {
  background-color: #EED4DE; }
  /* line 386, sass/site.css.scss */
  .projects section {
    padding: 0px 0px; }
    @media screen and (min-width: 800px) {
      /* line 386, sass/site.css.scss */
      .projects section {
        padding: 8% 0px; } }
    /* line 391, sass/site.css.scss */
    .projects section .project-description {
      padding-top: 10px; }
    /* line 394, sass/site.css.scss */
    .projects section.content-section-title {
      background-color: #F37D67;
      height: 100vh; }
      /* line 396, sass/site.css.scss */
      .projects section.content-section-title .col-xs-12:first-child {
        padding-bottom: 70px; }
      /* line 399, sass/site.css.scss */
      .projects section.content-section-title h2 {
        margin: 0px; }
    /* line 404, sass/site.css.scss */
    .projects section.project-row {
      margin: 0px;
      margin-bottom: 50px;
      height: 100%;
      transform: translate(0%, 0%); }
    /* line 414, sass/site.css.scss */
    .projects section.project-row:last-child {
      margin-bottom: 0px;
      padding-bottom: 100px;
      background-color: #F37D67; }
    /* line 419, sass/site.css.scss */
    .projects section.design-section {
      background-color: #B7C2E6; }
  /* line 423, sass/site.css.scss */
  .projects section.projects-tab-section {
    padding: 0%;
    min-height: unset;
    height: 35px; }
    /* line 426, sass/site.css.scss */
    .projects section.projects-tab-section .active {
      opacity: 1; }
    /* line 429, sass/site.css.scss */
    .projects section.projects-tab-section .tab-container {
      height: 100%; }
      /* line 430, sass/site.css.scss */
      .projects section.projects-tab-section .tab-container p {
        margin: 7px;
        line-height: 18px;
        text-align: center; }
      /* line 436, sass/site.css.scss */
      .projects section.projects-tab-section .tab-container .row {
        height: 100%; }
    /* line 441, sass/site.css.scss */
    .projects section.projects-tab-section p {
      opacity: .25; }
    /* line 444, sass/site.css.scss */
    .projects section.projects-tab-section .design-tab {
      transition: all 0.5s;
      background-color: #B7C2E6;
      height: 100%; }
      /* line 448, sass/site.css.scss */
      .projects section.projects-tab-section .design-tab p {
        color: #3126B1; }
      /* line 451, sass/site.css.scss */
      .projects section.projects-tab-section .design-tab:hover {
        cursor: pointer; }
        /* line 453, sass/site.css.scss */
        .projects section.projects-tab-section .design-tab:hover p {
          color: #3126B1;
          opacity: 1; }
    /* line 459, sass/site.css.scss */
    .projects section.projects-tab-section .development-tab {
      transition: all 0.5s;
      background-color: #EED4DE;
      height: 100%; }
      /* line 463, sass/site.css.scss */
      .projects section.projects-tab-section .development-tab p {
        color: #F37D67; }
      /* line 466, sass/site.css.scss */
      .projects section.projects-tab-section .development-tab:hover {
        cursor: pointer; }
        /* line 469, sass/site.css.scss */
        .projects section.projects-tab-section .development-tab:hover p {
          color: #F37D67;
          opacity: 1; }

/* line 478, sass/site.css.scss */
.project-image {
  width: 100%;
  height: 85vh;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);
  left: 0;
  position: relative;
  display: block;
  z-index: 0; }
  @media screen and (max-width: 360px) {
    /* line 478, sass/site.css.scss */
    .project-image {
      height: 75vh; } }

/* line 491, sass/site.css.scss */
.project-info {
  background: #FAF9F9;
  z-index: 100;
  padding: 20px 0px;
  width: 100%;
  padding: 20px 40px 50px 40px; }
  /* line 498, sass/site.css.scss */
  .project-info h1, .project-info h2, .project-info h3, .project-info p {
    text-align: left;
    color: #3126B1; }
  /* line 502, sass/site.css.scss */
  .project-info h3 {
    font-size: 13px;
    text-transform: uppercase; }
  /* line 506, sass/site.css.scss */
  .project-info .sub-title {
    margin-top: 10px; }

/* line 511, sass/site.css.scss */
.projects-nav {
  position: fixed;
  height: 200px;
  z-index: 600;
  top: 0px;
  right: 0px;
  bottom: 0;
  width: 100px;
  margin-right: 31px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  /* line 524, sass/site.css.scss */
  .projects-nav ul.projects-nav-list {
    list-style: none; }
    /* line 526, sass/site.css.scss */
    .projects-nav ul.projects-nav-list li {
      margin: 10px 0px; }
  /* line 530, sass/site.css.scss */
  .projects-nav .indicator {
    height: 16px;
    width: 16px;
    display: block;
    margin: 4px 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.35);
    border: 2px solid #faf9f9; }
    /* line 538, sass/site.css.scss */
    .projects-nav .indicator.active {
      background-color: #FAF9F9; }

/* line 546, sass/site.css.scss */
main.skills-page .skills-left-section {
  background-color: #B7C2E6; }
  /* line 548, sass/site.css.scss */
  main.skills-page .skills-left-section .skills-title h2 {
    color: #3126B1; }
  /* line 551, sass/site.css.scss */
  main.skills-page .skills-left-section .skills-title .sub-title {
    display: block;
    text-align: center;
    color: #3126B1; }
  @media screen and (max-width: 799px) {
    /* line 557, sass/site.css.scss */
    main.skills-page .skills-left-section .skills-title {
      margin-left: 1px; } }
/* line 564, sass/site.css.scss */
main.skills-page .sub-title {
  max-width: 350px;
  color: #FAF9F9;
  text-align: left; }
  @media screen and (max-width: 799px) {
    /* line 564, sass/site.css.scss */
    main.skills-page .sub-title {
      max-width: unset; } }
/* line 572, sass/site.css.scss */
main.skills-page .skills-list {
  color: #FAF9F9;
  list-style: none;
  margin: 0px 16px; }
  @media screen and (max-width: 799px) {
    /* line 572, sass/site.css.scss */
    main.skills-page .skills-list {
      min-width: 50%; } }
  /* line 580, sass/site.css.scss */
  main.skills-page .skills-list li {
    font-weight: 100;
    text-align: left; }
/* line 585, sass/site.css.scss */
main.skills-page .skills-top-right-section {
  height: 50%;
  background-color: #EE7192; }
  @media screen and (max-width: 800px) {
    /* line 585, sass/site.css.scss */
    main.skills-page .skills-top-right-section {
      height: 100%; } }
/* line 592, sass/site.css.scss */
main.skills-page .skills-bottom-right-section {
  height: 50%;
  background-color: #F37D67; }
  @media screen and (max-width: 800px) {
    /* line 592, sass/site.css.scss */
    main.skills-page .skills-bottom-right-section {
      height: 100vh; } }

/* line 603, sass/site.css.scss */
.about h2 {
  color: #F37D67;
  text-align: left;
  font-size: 48px;
  margin: 60px 0px 0px 0px;
  position: absolute; }

/* line 611, sass/site.css.scss */
.about-content-section {
  margin: 150px 0px; }
  @media screen and (min-width: 800px) {
    /* line 611, sass/site.css.scss */
    .about-content-section {
      margin: 0px; } }

/* line 617, sass/site.css.scss */
.profile-image {
  background: url("../hellodeary/images/michael.jpg") center center/cover no-repeat;
  border-radius: 125px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: 80px; }
  @media screen and (max-width: 400px) {
    /* line 617, sass/site.css.scss */
    .profile-image {
      margin-left: 40px; } }

/* line 630, sass/site.css.scss */
.blank-page section {
  background-color: black; }
  /* line 632, sass/site.css.scss */
  .blank-page section .content-row {
    background-color: black;
    padding: 100px 0px; }

/* line 638, sass/site.css.scss */
.about-right-section-container {
  background-color: #F37D67; }

/* line 642, sass/site.css.scss */
.about-left-section-container {
  background-color: #B7C2E6; }
  /* line 644, sass/site.css.scss */
  .about-left-section-container.middle-container {
    height: unset; }

/* line 650, sass/site.css.scss */
section.case-study-hero.content-section-title {
  background-color: #EE7192; }
  /* line 652, sass/site.css.scss */
  section.case-study-hero.content-section-title .relative-title {
    position: relative;
    z-index: 590; }
    /* line 655, sass/site.css.scss */
    section.case-study-hero.content-section-title .relative-title h3 {
      text-align: center; }
  /* line 659, sass/site.css.scss */
  section.case-study-hero.content-section-title .background-hero {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: .3; }

/* line 667, sass/site.css.scss */
section.case-study {
  height: fit-content;
  padding: 120px 0px; }

/* line 673, sass/site.css.scss */
.block-image {
  margin: 0px auto;
  min-height: 500px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.35); }

/* line 679, sass/site.css.scss */
.image-block-caption {
  margin: 20px auto;
  text-align: left; }

/* line 685, sass/site.css.scss */
section.block-image-section {
  background-color: #B7C2E6; }

/* line 690, sass/site.css.scss */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden; }

/* 16x9 Aspect Ratio */
/* line 697, sass/site.css.scss */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%; }

/* 4x3 Aspect Ratio */
/* line 702, sass/site.css.scss */
.intrinsic-container-4x3 {
  padding-bottom: 75%; }

/* line 706, sass/site.css.scss */
.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 800px) {
  /* line 723, sass/site.css.scss */
  nav.navigation .nav-links-container.active {
    flex-direction: row; }
    /* line 725, sass/site.css.scss */
    nav.navigation .nav-links-container.active .navigation-links {
      width: 50%;
      height: 100%;
      flex-direction: column; }
    /* line 730, sass/site.css.scss */
    nav.navigation .nav-links-container.active .contact-links {
      width: 50%;
      height: 100%;
      flex-direction: column; }

  /* line 737, sass/site.css.scss */
  section {
    padding: 0px; }

  /* line 741, sass/site.css.scss */
  h2 {
    margin-top: 0px; }

  /* line 745, sass/site.css.scss */
  .section {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column; }
    /* line 751, sass/site.css.scss */
    .section .row {
      width: 100%; }
    /* line 754, sass/site.css.scss */
    .section.skills-section {
      height: 50%;
      background-color: #B7C2E6; }
    /* line 758, sass/site.css.scss */
    .section.contact-section {
      height: 50%;
      background-color: #5A2EB0; }

  /* line 764, sass/site.css.scss */
  .side-col {
    height: 100%;
    padding: 0px; }

  /* line 769, sass/site.css.scss */
  .desktop-view {
    display: block; }

  /* line 773, sass/site.css.scss */
  .mobile-view {
    display: none; }

  /* line 778, sass/site.css.scss */
  .projects section {
    min-height: 100%; }
    /* line 780, sass/site.css.scss */
    .projects section.project-row {
      background-color: #EED4DE;
      height: 100vh; }
    /* line 784, sass/site.css.scss */
    .projects section.content-section-title {
      background-color: #F37D67; }
    /* line 787, sass/site.css.scss */
    .projects section .slide {
      display: block;
      position: relative;
      z-index: 0;
      margin: 0px; }

  /* line 796, sass/site.css.scss */
  .project-image {
    position: absolute;
    display: block;
    z-index: 0;
    width: 494px;
    height: 85vh;
    margin: 0px auto;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.35); } }
  @media screen and (min-width: 800px) and (min-width: 1000px) {
    /* line 796, sass/site.css.scss */
    .project-image {
      width: 650px; } }
  @media screen and (min-width: 800px) and (min-width: 1600px) {
    /* line 796, sass/site.css.scss */
    .project-image {
      width: 1000px; } }

@media screen and (min-width: 800px) {
  /* line 813, sass/site.css.scss */
  .project-info {
    background: #FAF9F9;
    z-index: 100;
    padding: 32px 16px;
    margin-right: 45%; }
    /* line 822, sass/site.css.scss */
    .project-info h1, .project-info h2, .project-info h3, .project-info p {
      text-align: left;
      color: #3126B1; } }
