@charset "utf-8";
@import "./partials/_mixins.scss";
@import "./partials/_colors.scss";
@import url("https://use.typekit.net/rey3dtk.css");

html{
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  outline: 0;
  margin: 0px;
  font-family: "canada-type-gibson",sans-serif;
}

a {
  color: $white;
  text-decoration: none;
  &:focus,
  &:hover {
    color: $white;
  }
}

i {
  color: $white;
}

h1{}
h2{
  font-family: "ratio",sans-serif;
  color: $white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
}
h3{
  color: $white;
  font-size: 18px;
  font-weight: 300;
}
h4{
  color: $white;
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 300;
}
p, li {
  font-size: 18px;
  color: $white;
  text-align: left;
  line-height: 25px;
}
ul {
  padding: 0px;
  margin: 0px;
}
section {
  height: 100vh;
  max-width: 100%;
  padding: 20% 0%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  &.about-section{
    background-color: $pink;
  }
  &.skills-section{
    background-color: $lightBlue;
  }
  &.contact-section{
    background-color: $purple;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.clear {
  margin: 0px;
  padding: 0px;
}

.middle-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.content-section-title {
  // padding-top: 37vh;
  margin: 0px;
  @media (orientation:landscape) {
    // padding-top: 43vh;
  }
}

.chevron {
  position: absolute;
  z-index: 600;
  max-height: 32px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.fa-chevron-down{
  font-size: 2em;
}
.fa-chevron-down:hover{
  cursor: pointer;
}

.linkedin {
  margin-right: 15px;
  i {
    font-size: 35px;
  }
}

.fa-circle{
  font-size: 10px;
  margin: 0px 10px;
}

.github {
  margin-left: 15px;
  i {
    font-size: 35px;
  }
}

////////////////// contact form ////////////////////

////////////////// home screen ////////////////////

.about-section{
  // height: 100%;
  background-color: $pink;
}
.skills-section{
  // height: 100%;
  background-color: $lightBlue;
}
.contact-section{
  // height: 100%;
  background-color: $purple;
}

.desktop-view{
  display: none;
}

.btn {
  @include buttonCirc(80px);
  transition: all 0.5s;
  max-width: 200px;
  margin: 0px auto;
}

.button-container{
  margin-top: 15%;
  .button-regular {
    &:hover{
      h4 {
        color: $pink;
      }
      background: $white;
      border-color: $white;
    }
  }
  .button-blue {
    border-color: $darkBlue;
    h4 {
      color: $darkBlue;
    }
    &:hover{
      h4 {
        color: $white;
      }
      background: $darkBlue;
      border-color: $darkBlue;
    }
  }
}

nav.navigation {
  position: fixed;
  z-index: 600;
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
  .nav-links-container{
    z-index: 400;
    height: 100%;
    background-color: $pale;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -110%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    &.active{
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
      top: 0px;
    }
    .nav-item {
      padding: 12px 0px;
      list-style: none;
      a {
        color: $white;
        font-size: 1.5em;
        text-decoration: none;
      }
      &:hover a{
        color: $bitter;
      }
      &.active a {
        color: $bitter;
      }

    }
  }

  .nav-title-container{
    max-width: 100%;
    margin: 0px;
    padding: 0px 20px;
  }
  .navigation-links{
    max-width: 100%;
    height: 65%;
    padding: 0% 0px 0% 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .nav-title{
    z-index: 600;
    display: block;
    h2{
      text-shadow: 0px 2px 1px rgba(0, 0, 0, .35);
      margin-top: 20px;
    }
  }
}
.contact-links{
  background-color: $bitter;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  justify-content: center;
  align-content: center;
  ul {
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  a:hover{
    color: $bitter;
  }
}
.hamburger-container{
  z-index: 600;
  background: $white;
  width: 42px;
  height: 42px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible !important;
  margin: 20px 0px;
  @include circle(42px);
  @include dropShadow;
  .hamburger {
    color: $pink;
    z-index: 600;
    font-size: 1.25em;
    margin-top: 11px;
    display: none;
    &.active {
      display: block;
    }
  }
}
.hamburger-container:hover{
  cursor: pointer;
}

////////////////////// projects page //////////////////////////
.paleColor{
  background-color: $pale !important;
}
.lightBlueColor{
  background-color: $lightBlue !important;
}

.projects{
  background-color: $pale;
  
  section {
    padding: 0px 0px;
    @media screen and (min-width: 800px){
      padding: 8% 0px;
    }
    &.content-section-title{
      background-color: $bitter;
      .col-xs-12:first-child{
        padding-bottom: 70px;
      }
      h2 {
        margin: 0px;
      }
      height: 100vh;
    }
    &.project-row{
      margin: 0px;
      margin-bottom: 50px;
      height: 100%;
      transform: translate(0%, 0%);
      
    }
    &.project-row:nth-child(3){

    }
    &.project-row:last-child{
      margin-bottom: 0px;
      padding-bottom: 100px;
      background-color: $bitter;
    }
    &.design-section{
      background-color: $lightBlue; 
    }
  }
  section.projects-tab-section{
    padding: 0%;
    min-height: unset;
    .active{
      opacity: 1;
    }
    .tab-container{
      p{
        margin: 7px;
        line-height: 18px;
        text-align: center;
      }
      height: 100%;
      .row{
        height: 100%;
      }
    }
    height: 35px;
    p{
        opacity: .25;
    }
    .design-tab{
      transition: all 0.5s;
      background-color: #B7C2E6;
      height: 100%;
      p{
        color: $darkBlue;
      }
      &:hover{
        cursor: pointer;
        p{
          color: $darkBlue;
          opacity: 1;
        }
      }
    }
    .development-tab{
      transition: all 0.5s;
      background-color: $pale; 
      height: 100%;
      p{
        color: $bitter;
      }
      &:hover{
        //background-color: white;
        cursor: pointer;
        p{
          color: $bitter;
          opacity: 1;
        }
      }
    }
  }
}

.project-image{
  width: 100%;
  height: 85vh;
  box-shadow:  0px 0px 0px rgba(0, 0, 0, .35);
  @media screen and (max-width: 360px){
    height: 75vh;
  }
  left: 0;
  position: relative;
  display: block;
  z-index: 0;
}

.project-info{
  background: $white;
  z-index: 100;
  padding: 20px 0px;
  width: 100%;
  // min-height: 450px;
  padding: 20px 40px 50px 40px;
  h1, h2, h3, p {
    text-align: left;
    color: $darkBlue;
  }
}

.projects-nav {
  position: fixed;
  height: 200px;
  z-index: 600;
  top: 0px;
  right: 0px;
  bottom: 0;
  width: 100px;
  margin-right: 31px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  ul.projects-nav-list{
    list-style: none;
    li{
      margin: 10px 0px;
    }
  }
  .indicator {
    height: 16px;
    width: 16px;
    display: block;
    margin: 4px 0px;
    @include circle(32px);
    @include dropShadow;
    border: 2px solid rgba(250, 249, 249, 1);
    &.active {
      background-color: $white;
    }
  }
}

////////////////////// skills section /////////////////////////
main.skills-page{
  .skills-left-section{
    background-color: $lightBlue;
    .skills-title h2 {
      color: $darkBlue;
    }
    .skills-title .sub-title {
      display: block;
      text-align: center;
      color: $darkBlue;
    }
    @media screen and (max-width: 799px){
      .skills-title{
        margin-left: 1px;
      }
    }
    .skills-list-row{
    }
  }
  .sub-title{
    max-width: 350px;
    @media screen and (max-width: 799px){
      max-width: unset;
    }
    color: $white;
    text-align: left;
  }
  .skills-list{
    color: $white;
    list-style: none;
    margin: 0px 16px;
    @media screen and (max-width: 799px){
      // margin: 0px 25% 0px 0px;
      min-width: 50%;
    }
    li {
      font-weight: 100;
      text-align: left;
    }
  }
  .skills-top-right-section{
    height: 50%;
    background-color: $pink;
    @media screen and (max-width: 800px){
      height: 100%;
    }
  }
  .skills-bottom-right-section{
    height: 50%;
    background-color: $bitter;
    @media screen and (max-width: 800px){
      height: 100vh;
    }
  }
}

////////////////////// about page /////////////////////////////
.about{
  h2 {
    color: $bitter;
    text-align: left;
    font-size: 48px;
    margin: 60px 0px 0px 0px;
    position: absolute;
  }
}
.about-content-section{
  margin: 150px 0px;
  @media screen and (min-width: 800px){
    margin: 0px;
  }
}
.profile-image{
  background:url('../../images/michael.jpg') center center/cover no-repeat;
  @include circle(250px);
  height: 200px;
  width: 200px;
  display: block;
  margin-left: 80px;
  @media screen and (max-width: 400px){
    margin-left: 40px;
  }
}

.about-right-section-container{
  background-color: $bitter;
}

.about-left-section-container{
  background-color: $lightBlue;
  &.middle-container{
    height: unset;
  }
}

////////////////////// iframe ////////////////////////////////
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

////////////////////// media queries //////////////////////////
@media (max-width: 799px){
  .project-info{
    max-width: 80%;
    flex-basis: 80%;
  }
}

@media screen and (min-width: 800px){
  nav.navigation .nav-links-container.active{
    flex-direction: row;
    .navigation-links{
      width: 50%;
      height: 100%;
      flex-direction: column;
    }
    .contact-links{
      width: 50%;
      height: 100%;
      flex-direction: column;
    }
  }

  section {
    padding:0px;
  }

  h2 {
    margin-top:0px;
  }

  .section{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    .row {
      width: 100%;
    }
    &.skills-section{
      height: 50%;
      background-color: $lightBlue;
    }
    &.contact-section{
      height: 50%;
      background-color: $purple;
    }
  }

  .side-col {
    height: 100%;
    padding: 0px;
  }

  .desktop-view{
    display: block;
  }

  .mobile-view {
    display: none;
  }
//////////////////////////// projects section - desktop-view //////////////////////
  .projects{
    section {
      min-height: 100%;
      &.project-row{
        background-color: $pale;
        height: 100vh;
      }
      &.content-section-title{
        background-color: $bitter;
      }
      .slide {
        display: block;
        position: relative;
        z-index: 0;
        margin: 0px;
      }
    }
  }

  .project-image{
    position: absolute;
    display: block;
    z-index: 0;
    width: 494px;
    @media (min-width: 1000px){
      width: 650px;
    }
    @media (min-width: 1600px){
      width: 1000px;
    }
    height: 85vh;
    margin: 0px auto;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .35);
  }
  .project-info{
    background: $white;
    z-index: 100;
    padding: 32px 16px;
    margin-right: 45%;
    // position: absolute;
    // left: 0;
    // top: 141%;
    // margin-left: 10%;
    h1, h2, h3, p {
      text-align: left;
      color: $darkBlue;
    }
  }
}
